@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local(""), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local(""), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}

:root {
  --color-white: #FFF;
  --color-black: #000;
  --color-blue: #34547A;
  --color-gray: #EEEFF1;
  --color-gray-text: #727272;
  /* --color-gray2: #6F6F6F; */
  /* --color-gray3: #F6F6F8; */
  /* --color-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25); */
  --font-Roboto: "Roboto",sans-serif;
  /* --container-width: calc(100vh - 40px); */
  --line-height: 1;

}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  --line-height: 1;
}

:active, :focus {
  outline: 0;
}

aside, footer, header, nav, section {
  display: block;
}

body, html {
  font-family: "Roboto", sans-serif;
  height: 100%;
  min-width: 375px;
  background-color: #FFF;
}

ul li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

.container {
    max-width: 1179px;
    margin: 0 auto;
}

.title {
  margin: 0 auto;
    font-weight: 500;
    font-size: 32px;
    line-height: var(--line-height) * 38;
}
.text {
  line-height: 26px;
  color: var(--color-gray-text);
}
.button{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 225px;
    height: 65px;
    font-weight: 400;
    font-size: 16px;
    padding: 25px 41px;
    letter-spacing: 0.1em;
}

.section__block {
  margin: 0 auto;
  max-width: 620px;
  text-align: center;
}
.section-block__title {
  margin-bottom: 39px;
  margin-left: 86px;
}

.section-block__text {
  margin-left: 86px;
}
