@import "global.css";

.body {
  width: 100%;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  overflow-x: hidden;
}

.main {
  width: 100%;
  min-height: auto;
}

.design-section {
  padding-top: 64px;
  padding-bottom: 146px;
  background-color: var(--color-gray);
}

.design-section__header {
  display: flex;
  justify-content: space-between;
}

.design-section__body {
  padding-top: 148px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.design-section-header__nav {
  display: flex;
  align-items: center;
}


.design-section-body__img {
  margin-right: 130px;
  max-width: 357px;
  max-height: 234px;
  min-width: 298px;
}


.design-section-body__block-text {
  max-width: 541px;
}

.header-nav__link{
  margin-left: 42px;
}

.header-nav__link:first-child{
  margin-left: 0;
}

.header-nav__link--active {
  color: var(--color-blue);
}

.header-nav__link {
  letter-spacing: 0.1em;
}

.block-title-and-text__title {
font-weight: 500;
font-size: 48px;
margin-bottom: 45px;
}

.block-title-and-text__text {
  margin-bottom: 52px;
}

.design-section__button {
  margin: 0;
letter-spacing: 0.1em;
}

.about-me-section {
  padding-top: 119px;
  padding-bottom: 92px;
}

.projects-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--color-blue);
}

.projects-section-templates {
  display: flex;
  row-gap: 55px;
  column-gap: 34px;
  justify-content: center;
  flex-wrap: wrap;
}

.projects-section-templates__item {
  display: flex;
  max-width: 139px;
}

.templates-item__texts {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-top: 3px;
  margin-left: 14px;
  text-align: left;

}

.temlates-item-text__number {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 21px;
  color: var(--color-white);
}

.temlates-item-text__text {
  color: var(--color-white);  
}

.skills-section {
  padding-top: 102px;
  padding-bottom: 100px;
}

.skills-section__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-body__texts {
  margin-right: 50px ;
  display: flex;
  justify-content: center;
  max-width: 445px;
  min-width: 285px;
  width: 100%;
  flex-direction: column;
}

.skills-body-texts__title {
  margin: 0 0 39px;
}

.block-every-skills__text-skill {
  margin-bottom: 10px;
}

.block-every-skills__line-progress-skill {
  margin-bottom: 30px;
  height: 4px;
  background-color: var(--color-gray);
}

.line-progress-skill__succsess {
  height: 4px;
  width: 78.3%;
  background-color: var(--color-blue);
}

.skills-body__img {
 width: 100%;
 height: 100%;
}

.work-section {
  background-color: var(--color-gray);
  padding-top: 101px;
  padding-bottom: 49px;
}

.video-block {
  margin: 50px auto;  
  background-position: center;
  background-image: url(../images/videoPreview.png);
  position: relative;
  max-width: 1110px;
  min-width: 280px;
  height: 600px;
  
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

.video-block__logo-btn {
  position: absolute;
  max-width: 100px;
}

.examples-section {
  padding-top: 28px;
  padding-bottom: 71px;
  display: flex;
  justify-content: center;
}

.example-section__elements {
  justify-content: center; 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.elements-example {
  width: 100%;
  min-width: 160px;
  height: auto;
}

.feadback-section {
  background-color: var(--color-gray);
  padding-top: 100px;
  padding-bottom: 101px;
}

.feadback-section__block-messages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 540px;
  margin: 60px auto 60px;
}

.block-message__input {
  max-width: 342px;
  min-width: 255px;
  margin-bottom: 18px;
}
.block-message__email {
  max-width: 342px;
  min-width: 255px;
  margin-bottom: 18px;

}
.block-{
margin-left: 86px;
}
.input-text {
  font-size: 14px;
  padding: 18px 20px;
}

.block-message__text-message {
  height: 175px;
  max-height: 175px;
  resize: none;
  max-width: 540px;
  width: 100%;
}

.feadback-section__button {
  font-size: 14px;
  width: 190px;
  height: 55px;
}

.footer {
  width: 100%;
  min-height: auto;
  padding: 50px 0;
  background-color: var(--color-blue);
}

.footer___body {
  color: var(--color-white);
  padding: 10px;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

.block-name-and-copyright__name {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 11px;
}

.block-name-and-copyright__copyright {
  font-size: 13px;
line-height: 21px;
}
.footer-body__block-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 175px;
}

.block-social__vk-logo {
  width: 43px;
  height: 40px;
}

.wrapper-on-image {
  width: 100%;
  position: relative;
}

.wrapper-on-image:hover::before {
  content: url(../images/hoverEye.svg);
  background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  float: left;
}

.wrapper-on-aboutMe {
  max-width: 555px;
  min-width: 280px;
}




@media (max-width: 1200px) {
  .design-section-header__nav:last-child {
    margin-right: 20px;
  }
  .skills-section__body {
    justify-content: center;
    padding: 0 auto;
  }
  .example-section__elements {
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  }
  
  .elements__example-3 {
    order: 4;
  }
  
   .elements__example-4 {
    order: 3;
  }
  
  .elements__example-7 {
    order: 3;
  }
}

@media (max-width: 1049px) {
  .skills-body-texts__title {
    margin: 0 auto 40px;
  }

  .skills-body__texts {
    max-width: 445px;
    margin: 0 auto;
  }

  .wrapper-on-aboutMe {
    padding-bottom: 30px;
  }

  .skills-section__body {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media  (min-width: 800px ) and (max-width: 1027px) {
  .design-section-body__img {
    margin: 0 65px 60px;
  }
  .block-title-and-text__title {
    text-align: center;
  }

  .block-title-and-text__text {
    text-align: center;
  }

  .design-section__button {
    text-align: center;
    margin: 0 auto;
  }
}

@media (min-width: 320px) and (max-width: 800px) {
  .container {
    padding: 0 20px;
  }

  .design-section-header__nav {
    display: none;
  }

  .design-section-body__img {
    margin: 0 auto 50px;
  }

  .block-title-and-text__title {
    text-align: center;
    font-size: 33px;
  }

  .block-title-and-text__text {
    text-align: center;
  }
  .design-section__button {
    text-align: center;
    margin: 0 auto;
  }

  .wrapper-on-aboutMe {
    max-width: 445px;
    min-width: 280px;
  }

  .video-block {
    margin: 30px auto;
    height: 320px;
  }
}

@media (max-width: 800px) {
  .design-section {
    padding-bottom: 95px;
  }

  .design-section__body {
    padding-top: 60px;
  }

  .about-me-section {
    padding-top: 90px;
    padding-bottom: 80px;
  }

  .projects-section {
    padding: 75px 0;
  }

  .skills-section {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .work-section {
    padding-top: 90px;
    padding-bottom: 0;
  }

  .video-block {
    margin: 0 auto;
    height: 350px;
  }

  .feadback-section {
    padding-top: 90px;
  }

  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer___body {
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer-body__block-social {
    justify-content: center;
    gap: 1em;
    width: 100%;
  }

  .skills-section__body {
    justify-content: center;

  }

  .video-block__logo-btn {
    width: 75px;
  }
}

@media (max-width: 552px) {
  .block-message__input {
    width: 100%;
    max-width: 511px;
  }
  .block-message__email {
    width: 100%;
    max-width: 511px;
  }

  .block-name-and-copyright__name {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .footer___body {
    justify-content: center;
  }
}