@import "global.css";

.body {
  width: 100%;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  overflow-x: hidden;
}

.main {
  width: 100%;
  min-height: auto;
}

.design-section {
  padding-top: 64px;
  padding-bottom: 146px;
  background-color: var(--color-gray);
}

.design-section__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 148px;
  margin-left: 65px;
}

.design-section__body {
  margin-left: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.design-section-header__logo {
  margin-left: 15px;
}

.design-section-header__nav {
  display: flex;
  align-items: center;
}

.design-section-body__img {
  margin-bottom: 20px;
  max-width: 357px;
  min-width: 298px;
}

.design-section-body__block-text {
  max-width: 541px;
  padding-left: 9px;
}

.header-nav__link{
  margin-left: 42px;
}

.header-nav__link--active {
  color: var(--color-blue);
}

.header-nav__link {
  letter-spacing: 0.1em;
}

.block-title-and-text__title {
font-weight: 500;
font-size: 48px;
margin-bottom: 45px;
}

.block-title-and-text__text {
  margin-bottom: 52px;
}

.design-section__button {
  margin: 0;
letter-spacing: 0.1em;
}

.about-me-section {
  padding-top: 119px;
  padding-bottom: 92px;
}

.projects-section {
  padding-top: 100px;
  padding-bottom: 10px;
  background-color: var(--color-blue);
}

.projects-section-templates {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 80px;
  margin-right: 10px;
}

.projects-section-templates__item {
  display: flex;
  margin-bottom: 89px;
  max-width: 139px;
}

.templates-item__texts {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-top: 3px;
  margin-left: 19px;
  text-align: left;

}

.temlates-item-text__number {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 21px;
  color: var(--color-white);
}

.temlates-item-text__text {
  color: var(--color-white);  
}

.skills-section {
  padding-top: 102px;
  padding-bottom: 100px;
}

.skills-section__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 60px;
}

.skills-body__texts {
  display: flex;
  margin-top: 102px;
  max-width: 445px;
  min-width: 339px;
  width: 100%;
  flex-direction: column;
}

.skills-body-texts__title {
  margin: 0px 0px 39px 0px;
}

.block-every-skills__text-skill {
  margin-bottom: 10px;
}

.block-every-skills__line-progress-skill {
  margin-bottom: 30px;
  height: 4px;
  background-color: var(--color-gray);
}

.line-progress-skill__succsess {
  height: 4px;
  width: 78.3%;
  background-color: var(--color-blue);
}

.skills-body__img {
  margin-right: -30px;
  max-width: 555px;
  min-width: 339px;
}

.work-section {
  background-color: var(--color-gray);
  padding-top: 101px;
  padding-bottom: 49px;
}

.video-block {
  margin-bottom: 51px;
  margin-top: 49px;
  margin-left: 78px;
  background-position: center;
  background-image: url(../images/videoPreview.png);
  position: relative;
  max-width: 1110px;
  min-width: 339px;
  width: 100%;
  height: 600px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

.video-block__logo-btn {
  position: absolute;
}

.examples-section {
  padding-top: 28px;
  padding-bottom: 71px;
  display: flex;
  justify-content: center;
}

.example-section__elements {
  max-width: 2180px;
  justify-content: center; 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.elements-example {
  width: 100%;
  min-width: 188px;
  height: auto;
}

.feadback-section {
  background-color: var(--color-gray);
  padding-top: 100px;
  padding-bottom: 101px;
}

.feadback-section__block-messages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 540px;
  margin: 56px 23% 50px 31%;
}

.block-message__input {
  max-width: 342px;
  min-width: 255px;
  margin-bottom: 18px;
}
.block-message__email {
  max-width: 342px;
  min-width: 255px;
  margin-bottom: 18px;

}
.block-{
margin-left: 86px;
}
.input-text {
  font-size: 14px;
  padding: 18px 20px;
}

.block-message__text-message {
  height: 175px;
  max-height: 175px;
  resize: none;
  max-width: 540px;
  min-width: 342px;
  width: 100%;
}

.feadback-section__button {
  font-size: 14px;
  width: 190px;
  height: 55px;
  margin: 0 0 0 45.56%;
}

.footer {
  width: 100%;
  min-height: auto;
  padding: 50px 0;
  background-color: var(--color-blue);
}

.footer___body {
  color: var(--color-white);
  /*  */
  margin-left: 80px;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

.block-name-and-copyright__name {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 11px;
}

.block-name-and-copyright__copyright {
  font-size: 13px;
line-height: 21px;
}
.footer-body__block-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 175px;
}

.block-social__vk-logo {
  width: 43.75px;
  height: 40px;
}

.wrapper-on-image {
  width: 100%;
  position: relative;
}

.wrapper-on-image:hover::before {
  content: url(../images/hoverEye.svg);
  background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  float: left;
}

@media (min-width: 375px) and (max-width: 1279px) {
.example-section__elements {
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
}

.elements__example-3 {
  order: 4;
}

 .elements__example-4 {
  order: 3;
}

.elements__example-7 {
  order: 3;
}

.design-section{
  padding-top: 22px;
  padding-bottom: 95px;
}

.design-section__header {
  margin-left: 0;
  margin-bottom: 68px;
}

.design-section-header__logo {
  margin-left: 20px;
}

.design-section-header__nav {
  display: none;
}

.design-section__body {
  flex-direction: column;
  align-items: center;
  margin-left: 0;
}
.design-section-body__img {
  width: 100%;
  max-width: 298px;
  margin: 0 0 51px 0;
}

.design-section-body__block-text {
  padding-left: 0;
  display: flex; flex-direction: column;
  align-items: center;
}

.block-title-and-text__title {
  text-align: center;
  white-space: nowrap;
  font-size: 36px;
}

.block-title-and-text__text {
  text-align: center;
  max-width: 322px; 
}

.section-block {
  max-width: 323px;
}

.section-block__title {
  margin-left: 0;
}
.section-block__text {
  margin-left: 0;
}

.about-me-section {
  padding-bottom: 82px;
}

.projects-section {
  padding-top: 75px;
}

.projects-section__templates {
  max-width: 340px;
  margin: 20px auto;
}

.skills-section {
  padding-top: 82px;
}

.skills-section__body {
  display: flex;
  flex-direction: column-reverse;
  max-width: 340px;
  margin: 0 auto;
}

.skills-body__texts {
  margin-top: 0;
}
.skills-body__img {
  max-width: 340px;
  margin-right: 0;
  margin-bottom: 98px;
}

.work-section {
  padding-top: 93px;
}

.video-block {
  max-width: 340px;
  height: 185px;
  background-size: 340px;
  background-repeat: no-repeat;
  min-width: 340px;
  margin: 57px auto 91px;
}

.video-block__logo-btn {
  width: 75px;
  height: 75px;
}

.examples-section {
  padding: 34px 0;
}

.feadback-section {
  padding: 100px 0;
}
.feadback-section__block-messages {
  margin: 50px auto;
  justify-content: center;
}

.block-message__input {
  min-width: 342px;
}

.block-message__email {
  min-width: 342px;
}
.block-message__text-message {
  max-width: 342px;
}

.feadback-section__button {
  margin: 0 auto;
}

.footer {
  padding: 50px 0 40px;
}

.footer___body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.footer-body__block-name-and-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-name-and-copyright__name {
  margin-bottom: 20px;
}

.block-name-and-copyright__copyright {
  margin-bottom: 38px;
}














}