@import "global.css";

.body {
  width: 100%;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  overflow-x: hidden;
}

.main {
  width: 100%;
  min-height: auto;
}

.services-content {
  padding-top: 98px;
  padding-bottom: 105px;
  background-color: var(--color-gray);
}

.about-me-section {
  padding-top: 100px;
  padding-bottom: 66px;
  background-color: var(--color-gray);
}

.design-section {
}
.about-me-section {
}
.container {
}
.design-section__header {
  display: flex;
  justify-content: space-between;
  margin: 57px 22px 140px 22px;
}
.design-section__body.design-section-body {
}
.design-section-header__logo {
}
.design-section-header__nav.header-nav {
}
.design-section-body__img {
}
.design-section-body__block-text.block-text-and-button {
}
.header-nav__link.header-nav__link--active {
}
.header-nav__link {
}
.title.block-text-and-button__title {
}
.text.block-text-and-button__text {
}
.button.design-section__button {
}

